{:highlights [{:id #uuid "646621f3-659b-4a7f-a958-d855f4090c34",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 60,
                                     :x2 688.7662353515625,
                                     :y2 270.484375,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 60,
                                   :x2 0,
                                   :y2 84,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 76,
                                   :x2 0,
                                   :y2 100,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 155.8125,
                                   :y1 213.484375,
                                   :x2 688.7662353515625,
                                   :y2 230.484375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 111.359375,
                                   :y1 233.484375,
                                   :x2 688.463623046875,
                                   :y2 250.484375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 111.359375,
                                   :y1 253.484375,
                                   :x2 301.8294982910156,
                                   :y2 270.484375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 12},
               :content {:text "El capitalismo de la vigilancia reclama unilateralmente para sí la experiencia humana, entendiéndola como una materia prima gratuita que puede traducir en datos de comportamiento"},
               :properties {:color "yellow"}}
              {:id #uuid "64662351-60f2-4fff-9839-dc1d2c103ca6",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 156,
                                     :x2 688.7949829101562,
                                     :y2 371.65625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 156,
                                   :x2 0,
                                   :y2 180,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 365.1007385253906,
                                   :y1 334.265625,
                                   :x2 688.7949829101562,
                                   :y2 351.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 111.359375,
                                   :y1 354.65625,
                                   :x2 560.19482421875,
                                   :y2 371.65625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 12},
               :content {:text "se fabrican productos predictivos que prevén lo que cualquiera de ustedes hará ahora, en breve y más adelante"},
               :properties {:color "yellow"}}
              {:id #uuid "64662390-c2e2-4033-8ad3-7e9bdc2eacbb",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 92,
                                     :x2 688.7494506835938,
                                     :y2 311.125,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 92,
                                   :x2 0,
                                   :y2 116,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 108,
                                   :x2 0,
                                   :y2 132,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 378.828125,
                                   :y1 253.484375,
                                   :x2 687.91162109375,
                                   :y2 270.484375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 111.359375,
                                   :y1 273.734375,
                                   :x2 688.7494506835938,
                                   :y2 290.734375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 111.359375,
                                   :y1 294.125,
                                   :x2 653.478759765625,
                                   :y2 311.125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 12},
               :content {:text "algunos de dichos datos se utilizan para mejorar productos o servicios, el resto es considerado como un excedente conductual privativo («propiedad») de las propias empresas capitalistas de la vigilancia"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
