{:highlights [{:id #uuid "643f3b9c-ada3-42fe-9e85-5a326389ad0c",
               :page 17,
               :position {:bounding {:x1 0,
                                     :y1 -4,
                                     :x2 590.6168212890625,
                                     :y2 517.40625,
                                     :width 688.3333333333333,
                                     :height 1041.6666666666665},
                          :rects ({:x1 0,
                                   :y1 -4,
                                   :x2 0,
                                   :y2 20,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 137,
                                   :y1 211.40625,
                                   :x2 590.5223388671875,
                                   :y2 231.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 233.40625,
                                   :x2 590.5200805664062,
                                   :y2 253.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 255.40625,
                                   :x2 590.546875,
                                   :y2 275.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 277.40625,
                                   :x2 590.5602416992188,
                                   :y2 297.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 299.40625,
                                   :x2 590.546875,
                                   :y2 319.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 321.40625,
                                   :x2 590.6168212890625,
                                   :y2 341.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 343.40625,
                                   :x2 590.5746459960938,
                                   :y2 363.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 365.40625,
                                   :x2 590.605224609375,
                                   :y2 385.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 387.40625,
                                   :x2 590.54931640625,
                                   :y2 407.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 409.40625,
                                   :x2 590.4849853515625,
                                   :y2 429.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 431.40625,
                                   :x2 590.546875,
                                   :y2 451.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 453.40625,
                                   :x2 590.49267578125,
                                   :y2 473.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 475.40625,
                                   :x2 590.5723266601562,
                                   :y2 495.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}
                                  {:x1 108.65625,
                                   :y1 497.40625,
                                   :x2 481.897705078125,
                                   :y2 517.40625,
                                   :width 688.3333333333333,
                                   :height 1041.6666666666665}),
                          :page 17},
               :content {:text "Saber cómo funciona nuestro mundo no puede ser nunca un conocimiento inútil, es una base imprescindible para poder ser ciudadanos conscientes y actuar políticamente sobre aquello que no nos gusta del presente y lo que queremos para el futuro. En este sentido, este libro es una herramienta profundamente política. Porque el debate de la seguridad, aunque sea a nivel individual, es inseparable de la política, forma parte de ella. Optar por una aplicación u otra, para usar una contraseña resistente o el típico «1234», para cifrar el móvil o para compartir todo detalle de nosotros mismos en las redes sociales, son decisiones políticas. Aunque cuando las tomamos no seamos conscientes, no dejan de serlo. Incluso cuando renuncias a decidir, lo que haces en realidad es tomar una opción por omisión, de la peor manera posible."},
               :properties {:color "blue"}}],
 :extra {:page 17}}
